*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 90%;
  font-weight: 300;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: black;
}

/*
    RESSOURCES 

    0px---600px ( PHONE )
    600px---900px ( TABLET PORTRAIT )
    900px---1200px ( TABLET LANDSCAPE )
    1200px-- 1800px ( NORMAL PC )
    1800px--- +00 ( BIG DESKTOP )

*/


.index-header {
  background: url('../assert/img/bg_padding.png'), linear-gradient(90deg, #052c3fe9, #0277B2);
  background-size: cover; 
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 75%;
}
.index-header nav {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
.index-header nav img.logo {
  width: 12rem;
}
.index-header_container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 55% 45%;
}
.index-header_container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.index-header_container-text > * {
  margin: 1.2rem 1rem;
}
.index-header_container-text h1 {
  font-size: 3.1rem;
  text-transform: uppercase;
  font-weight: 900;
}
.index-header_container-text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.index-header_container-text button {
  margin-top: 6rem;
  font-size: 1.7rem;
  padding: 1.5rem 2rem;
  border-radius: 100px;
  border: 0;
  color: #0277B2;
  /* color: white; */
  font-weight: 700;
  /* background: linear-gradient(45deg, #f1840f, #feb15f); */
  background: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.index-header_container-text button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.index-header_container-text button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}
/* @keyframes top-bottom {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
} */
.index-header_container-text button {
  animation-name: top-bottom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.index-header_container-3d {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(-1);
  height: 45rem;
}
.index-header_container-3d img {
  width: auto;
  height: 100%;
}


@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.index-header_container-3d img {
  animation-name: scaling;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.index-header_bottom {
  width: 90%;
  text-align: right;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0 auto;
}



